/src/assets/videos/
/.idea/
src/.idea
src/assets/models/**/*.txt
src/assets/models/**/*.engine
src/assets/models/**/*.onnx
src/assets/models/**/*.cache
src/assets/models/**/*.pt
src/fvgvisionai/**/__pycache__/
venv
docker/**/.env
docker/**/build
docker/**/runtime/.bashrc
assets/models/**/*.txt
assets/models/**/*.engine
assets/videos
**/*.lock
/src/datasets/
/assets/monopattini/
src/.vscode/*
.vscode/*
